body{
 font-family: 'Roboto', sans-serif;
 font-family: 'Sarabun', sans-serif;
 background-color: #111617;
 margin: 0;
 padding: 0;
}
.head{

 background-image: url(/picture/Rectangle\ 724.png);
 height: 920px;
 width:1fr;
}